
#loginBtn input{
  @include input;
  background-color: $bgDarkBlue;
  color: $textYellow;
  border: none;
}

#registerBtn input{
  @include input;
  color: $bgDarkBlue;
  border:2px solid $bgDarkBlue;
  background-color: #fff;
}
