a {
    text-decoration: none;
}

#loginBlock {
    a {
        @include fullSize;
    }

    //reduce space for fingerprint, easier for user
    #fingerprint a {
        width: 40%;
        margin: 0 auto;
    }
}

.list,
.cardsBlock {
    a {
        @include fullSize;
    }
}

.topNav {
    a {
        @include fullSize;
    }
}

.navbar {
    a {
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: 'Open sans';
        color: $textBlue;
        // font-size: 0.875em;
        text-transform: capitalize;
    }
}

.list {
    a {
        justify-self: center;
    }
}