

a {
    text-decoration: none;
}

//make whole elemnt as a link
#loginBlock {
    a {
        display: block;
        width: 100%;
        height: 100%;
        margin:0;
    }
 //reduce space for fingerprint but easier for user
    #fingerprint a {
        width: 40%;
        margin:0 auto;
        }
}


.list, .cardsBlock{
    a {
        display: block;
        width: 100%;
        height: 100%;
        margin:0;
    }
}

.topNav {
    a {
        display: block;
        width: 100%;
        height: 100%;
        margin:0; 
    }
}

.navbar {
    a {
        // float: left;
        // display: block;
        color: #3f51b5;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

        font-family: 'Open sans';
        color: #303F9F;
        font-size: 0.875em;
        text-transform: capitalize;
    }
}

.list {
    a {
        justify-self: center;
      }
}