$bgDarkBlue: #303f9f; //also color for buttons log in(bg) and register(border)
$bgMainBlue: #3f51b5;
$bgLightBlue: #ebf6ff;
$yellow: #ffeb3b;
$InputBorder: #bec3e1;
$borderLight: $bgLightBlue;
$borderDarkBlue: $bgDarkBlue;



//text
$textBlue: $bgDarkBlue;
$textYellow: $yellow;