html {
    box-sizing: border-box;
}

body#bgMap {
    background-image: url(../img/Без\ имени-1.png);
}

.listContainer,
.subtitle,
.cardSubtitle,
.cardsBlock {
  @include width90center;
}

.hidden{
    visibility:hidden;
  }
