.navbar {
  // margin:0 auto;
  // display: flex;
  // justify-items: space-between;

  height: 83px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -3pt 7pt rgba(63, 81, 181, 0.12);
  background-color: white;
  .navIcon {
    align-items: center;
  }
  img {
    display: block;
    margin: 0 auto;
  }
}


