.navbar {
  height: 83px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -3pt 7pt rgba(63, 81, 181, 0.12);
  background-color: white;
}

.navbar a {
  float: left;
  display: block;
  color: #1d1a1a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
