#welcomeText {
  width: 70%;
  margin: 30% auto 10%;
}

#loginBlock div {
  width: 50%;
  margin: 0 auto;
  align-content: center;
  label {
    color: #303f9f;
  }
  img {
    margin-top: 42px;
  }
}

// label,input{
//     display:flex;
//     flex-direction:column;
//   }

// input{
//     align-items: center
//   }

input[type="text"],
[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 40px;
  display: inline-block;
  border: 1px solid #bec3e1;
  border-radius: 4px;
  box-sizing: border-box;
}

#fingerprint {
  text-align: center;
}

.topBgBlue {
  background-color: #303f9f;
  padding-top: 49px;
}


.title {
  background-color: #3f51b5;
  height: 77px;
  h2 {
    text-align: center;
    color: white;
    vertical-align: middle;
    line-height: 77px;
    margin: 0 0 37px 0;
  }
}

//move to layout?
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}

.subtitle {
  height: 86px;
  width: 90%;
  margin: 0 auto;
  padding: 0 22px;
  //why doesnt work in main scss??
  box-sizing: border-box;
  h3 {
    margin-top: 44px;
  }
  .roundAddBtn {
    img {
      margin-top: 37px;
    }
  }
}

.list {
  gap: 20px;
  width: 90%;
  margin: 0 auto;
  display: grid;
}

.list {
  .addressBtn {
    background-color: #3f51b5;
    padding: 0 31px;
    display: grid;
    grid-template-columns: repeat(2, 90% 10%);
    align-items: center;

    .addressLabel {
      justify-self: center;
      height: 78px;
      p {
        color: white;
        line-height: 78px;
        margin: 0;
        text-transform: capitalize;
      }
    }
    img {
      vertical-align: middle;
      justify-self: end;
    }
  }
  .room {
    background-color: #ebf6ff;
    padding: 0 31px;
    display: grid;
    grid-template-columns: repeat(2, 90% 10%);
    align-items: center;
    .nameRoom {
      justify-self: start;
      height: 78px;
      p {
        color: #3f51b5;
        line-height: 78px;
        margin: 0;
        text-transform: capitalize;
      }
    }
    img {
      vertical-align: middle;
      justify-self: end;
    }
  }
}

.cardSubtitle {
  width: 90%;
  margin: 0 auto;
  height: 62px;
  padding: 0 22px;
  box-sizing: border-box;
  h3 {
    vertical-align: middle;
    line-height: 62px;
    font-weight: 400;
    margin: 24px 0 0 0;
  }
}

.cardsBlock {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 48.98%);
  gap: 15px;

  .cards {
    background-color: #ebf6ff;
    padding: 0 31px;
    height: 127px;
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(2, 80% 20%);
    align-items: center;
    .cardText {
      justify-self: center;
    }
    .arrowRight {
      justify-self: end;
    }

    //why doesnt work in main scss??
    // box-sizing: border-box;
    // padding: 31px;

    // .cardText {
    //     display: inline-block;
    // }
    // .arrowRight {
    //     display: inline-block;
    // }
    img {
      vertical-align: middle;
    }
    p {
      font-weight: 600;
      text-transform: capitalize;
    }
  }
}
